In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('final_ds.csv')

In [20]:
pd.set_option('display.max_columns', None)

In [21]:
sample_df = df.sample(5)
sample_df

,Patient Number,Age,Sex,Ethnicity,Marital Status,Clarity,Color,Transparency,Spec Gravity,pH Level,Leukocytes,Nitrite,Protein,Glucose,Ketones,Urobilinogen,Bilirubin,Blood,Bacteria,Epithelial Cells,RBC,WBC,Mucus Threads,Amorphous Urate/Phosphate,DIAGNOSIS
210,211,41.0000,FEMALE,FILIPINO,MARRIED,DECREASED,DARK YELLOW,TURBID,1.015,6.0,2+,NEGATIVE,2+,NEGATIVE,NEGATIVE,NORMAL,NEGATIVE,NEGATIVE,FEW,FEW,0-2,10-20,MODERATE,RARE,UTI
83,84,30.0000,FEMALE,FILIPINO,SINGLE,DECREASED,YELLOW,HAZY,1.015,5.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NORMAL,NEGATIVE,NEGATIVE,RARE,FEW,0-2,0-2,FEW,RARE,NEGATIVE
181,182,32.0000,FEMALE,FILIPINO,SINGLE,DECREASED,LIGHT YELLOW,HAZY,1.010,6.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NORMAL,NEGATIVE,NEGATIVE,RARE,MODERATE,0-2,0-2,FEW,RARE,NEGATIVE
42,43,30.0000,FEMALE,FILIPINO,MARRIED,DECREASED,YELLOW,CLOUDY,1.025,6.0,2+,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NORMAL,NEGATIVE,3+,MANY,MANY,TNTC,20-30,MANY,MANY,UTI
46,47,0.6667,MALE,FILIPINO,SINGLE,DECREASED,YELLOW,CLOUDY,1.025,6.0,NEGATIVE,NEGATIVE,1+,NEGATIVE,TRACE,NORMAL,NEGATIVE,2+,MANY,MANY,20-30,10-20,MODERATE,MODERATE,UTI

In [22]:
# df = df.iloc[:, 1:]

In [23]:
df['Urobilinogen'] = df['Urobilinogen'].replace('NORMAL', 1)
df['Urobilinogen'] = df['Urobilinogen'].replace('NORMAL', 1).apply(lambda x: int(float(str(x).split()[0])) if isinstance(x, str) and any(char.isdigit() for char in x) else x)

In [24]:
df = df[df['Ethnicity'] == 'FILIPINO'].copy()

In [25]:
for column in df.columns:
    print(f"Unique values in {column}:")
    print(df[column].unique())  
    print()

Unique values in Patient Number:
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307
 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325
 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361
 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412]

Unique values in Age:
[2.300e+01 4.400e+01 2.200e+01 1.600e+01 1.800e+01 3.800e+01 3.200e+01
 3.700e+01 1.100e+01 5.200e+01 5.100e+01 3.500e+01 2.500e+01 1.700e+01
 5.300e+01 5.900e+01 1.200e+01 6.000e+01 3.600e+01 4.100e+01 2.800e+01
 2.600e+01 2.000e+01 1.300e+01 4.000e+01 3.000e+01 4.000e+00 4.500e+01
 1.500e+01 6.667e-01 3.000e+00 6.000e+00 1.000e+01 1.000e+00 5.000e+01
 8.000e+00 3.300e+01 4.600e+01 5.700e+01 3.400e+01 2.700e+01 7.300e+01
 6.600e+01 3.100e+01 2.900e+01 4.300e+01 7.700e+01 4.700e+01 2.400e+01
 5.800e+01 1.400e+01 1.900e+01 5.600e+01 2.100e+01 4.900e+01 4.200e+01
 5.000e+00 5.500e+01 3.900e+01 5.400e+01 2.000e+00 7.000e+00 8.330e-02
 6.300e+01 9.000e+00 4.800e+01 8.800e+01 5.000e-01 6.200e+01 7.200e+01
 8.200e+01 6.400e+01 6.500e+01]

Unique values in Sex:
['FEMALE' 'MALE']

Unique values in Ethnicity:
['FILIPINO']

Unique values in Marital Status:
['SINGLE' 'MARRIED' 'WIDOW']

Unique values in Clarity:
['INCREASED' 'DECREASED']

Unique values in Color:
['YELLOW' 'DARK YELLOW' 'LIGHT YELLOW' 'AMBER' 'CLEAR' 'PALE YELLOW' 'RED'
 'BROWN' 'STRAW']

Unique values in Transparency:
['CLEAR' 'CLOUDY' 'HAZY' 'TURBID' 'MILKY']

Unique values in Spec Gravity:
[1.005 1.02  1.025 1.01  1.015 1.03 ]

Unique values in pH Level:
[5.  6.  6.5 7.  7.5 8. ]

Unique values in Leukocytes:
['NEGATIVE' '3+' 'TRACE' '2+' '1+']

Unique values in Nitrite:
['NEGATIVE' 'TRACE' 'POSITIVE']

Unique values in Protein:
['NEGATIVE' '1+' 'TRACE' '2+' '3+' '4+']

Unique values in Glucose:
['NEGATIVE' '2+' 'TRACE' '1+' '3+' '4+']

Unique values in Ketones:
['NEGATIVE' 'TRACE' '3+' '1+' '4+' '2+']

Unique values in Urobilinogen:
[1 4]

Unique values in Bilirubin:
['NEGATIVE' 'TRACE' '2+' '3+' '1+']

Unique values in Blood:
['NEGATIVE' '2+' '3+' '1+' 'TRACE']

Unique values in Bacteria:
['FEW' 'MODERATE' 'MANY' 'RARE' 'TNTC']

Unique values in Epithelial Cells:
['FEW' 'MANY' 'MODERATE' 'TNTC' 'RARE']

Unique values in RBC:
['0-2' '20-30' 'TNTC' ' 10-20' ' 5-10']

Unique values in WBC:
['0-2' 'TNTC' ' 5-10' '20-30' ' 10-20']

Unique values in Mucus Threads:
['FEW' 'MANY' 'MODERATE' 'RARE']

Unique values in Amorphous Urate/Phosphate:
['RARE' 'FEW' 'MODERATE' 'MANY']

Unique values in DIAGNOSIS:
['NEGATIVE' 'UTI']

In [26]:
null_rows = df[df.isnull().any(axis=1)]
print("Rows with null values:")
print(null_rows)

Rows with null values:
Empty DataFrame
Columns: [Patient Number, Age, Sex, Ethnicity, Marital Status, Clarity, Color, Transparency, Spec Gravity, pH Level, Leukocytes, Nitrite, Protein, Glucose, Ketones, Urobilinogen, Bilirubin, Blood, Bacteria, Epithelial Cells, RBC, WBC, Mucus Threads, Amorphous Urate/Phosphate, DIAGNOSIS]
Index: []

In [27]:
for column in df.columns:
    print(f"Unique values in {column}:")
    print(df[column].unique())  
    print()

Unique values in Patient Number:
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307
 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325
 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361
 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412]

Unique values in Age:
[2.300e+01 4.400e+01 2.200e+01 1.600e+01 1.800e+01 3.800e+01 3.200e+01
 3.700e+01 1.100e+01 5.200e+01 5.100e+01 3.500e+01 2.500e+01 1.700e+01
 5.300e+01 5.900e+01 1.200e+01 6.000e+01 3.600e+01 4.100e+01 2.800e+01
 2.600e+01 2.000e+01 1.300e+01 4.000e+01 3.000e+01 4.000e+00 4.500e+01
 1.500e+01 6.667e-01 3.000e+00 6.000e+00 1.000e+01 1.000e+00 5.000e+01
 8.000e+00 3.300e+01 4.600e+01 5.700e+01 3.400e+01 2.700e+01 7.300e+01
 6.600e+01 3.100e+01 2.900e+01 4.300e+01 7.700e+01 4.700e+01 2.400e+01
 5.800e+01 1.400e+01 1.900e+01 5.600e+01 2.100e+01 4.900e+01 4.200e+01
 5.000e+00 5.500e+01 3.900e+01 5.400e+01 2.000e+00 7.000e+00 8.330e-02
 6.300e+01 9.000e+00 4.800e+01 8.800e+01 5.000e-01 6.200e+01 7.200e+01
 8.200e+01 6.400e+01 6.500e+01]

Unique values in Sex:
['FEMALE' 'MALE']

Unique values in Ethnicity:
['FILIPINO']

Unique values in Marital Status:
['SINGLE' 'MARRIED' 'WIDOW']

Unique values in Clarity:
['INCREASED' 'DECREASED']

Unique values in Color:
['YELLOW' 'DARK YELLOW' 'LIGHT YELLOW' 'AMBER' 'CLEAR' 'PALE YELLOW' 'RED'
 'BROWN' 'STRAW']

Unique values in Transparency:
['CLEAR' 'CLOUDY' 'HAZY' 'TURBID' 'MILKY']

Unique values in Spec Gravity:
[1.005 1.02  1.025 1.01  1.015 1.03 ]

Unique values in pH Level:
[5.  6.  6.5 7.  7.5 8. ]

Unique values in Leukocytes:
['NEGATIVE' '3+' 'TRACE' '2+' '1+']

Unique values in Nitrite:
['NEGATIVE' 'TRACE' 'POSITIVE']

Unique values in Protein:
['NEGATIVE' '1+' 'TRACE' '2+' '3+' '4+']

Unique values in Glucose:
['NEGATIVE' '2+' 'TRACE' '1+' '3+' '4+']

Unique values in Ketones:
['NEGATIVE' 'TRACE' '3+' '1+' '4+' '2+']

Unique values in Urobilinogen:
[1 4]

Unique values in Bilirubin:
['NEGATIVE' 'TRACE' '2+' '3+' '1+']

Unique values in Blood:
['NEGATIVE' '2+' '3+' '1+' 'TRACE']

Unique values in Bacteria:
['FEW' 'MODERATE' 'MANY' 'RARE' 'TNTC']

Unique values in Epithelial Cells:
['FEW' 'MANY' 'MODERATE' 'TNTC' 'RARE']

Unique values in RBC:
['0-2' '20-30' 'TNTC' ' 10-20' ' 5-10']

Unique values in WBC:
['0-2' 'TNTC' ' 5-10' '20-30' ' 10-20']

Unique values in Mucus Threads:
['FEW' 'MANY' 'MODERATE' 'RARE']

Unique values in Amorphous Urate/Phosphate:
['RARE' 'FEW' 'MODERATE' 'MANY']

Unique values in DIAGNOSIS:
['NEGATIVE' 'UTI']

In [28]:
df.sample(5)

,Patient Number,Age,Sex,Ethnicity,Marital Status,Clarity,Color,Transparency,Spec Gravity,pH Level,Leukocytes,Nitrite,Protein,Glucose,Ketones,Urobilinogen,Bilirubin,Blood,Bacteria,Epithelial Cells,RBC,WBC,Mucus Threads,Amorphous Urate/Phosphate,DIAGNOSIS
292,293,25.0,FEMALE,FILIPINO,SINGLE,DECREASED,YELLOW,HAZY,1.005,6.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,1,NEGATIVE,NEGATIVE,RARE,MODERATE,0-2,0-2,MODERATE,FEW,NEGATIVE
256,257,20.0,MALE,FILIPINO,SINGLE,DECREASED,YELLOW,HAZY,1.030,6.0,NEGATIVE,NEGATIVE,1+,NEGATIVE,3+,1,NEGATIVE,3+,MANY,MODERATE,TNTC,0-2,MODERATE,MODERATE,UTI
13,14,35.0,FEMALE,FILIPINO,MARRIED,DECREASED,YELLOW,HAZY,1.030,7.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,1,NEGATIVE,NEGATIVE,FEW,FEW,0-2,0-2,FEW,RARE,NEGATIVE
307,308,44.0,MALE,FILIPINO,MARRIED,DECREASED,YELLOW,TURBID,1.025,5.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,1,NEGATIVE,3+,MODERATE,MODERATE,TNTC,0-2,MODERATE,MODERATE,UTI
97,98,60.0,MALE,FILIPINO,MARRIED,DECREASED,LIGHT YELLOW,HAZY,1.005,5.0,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,NEGATIVE,1,NEGATIVE,NEGATIVE,FEW,FEW,0-2,0-2,MODERATE,FEW,NEGATIVE

In [29]:

binary_columns = {
    'DIAGNOSIS': {'UTI': 1, 'NEGATIVE': 0},
    'Clarity': {'INCREASED': 1, 'DECREASED': 0},
}

ordinal_mappings = {
    'Color': ['CLEAR', 'PALE YELLOW', 'STRAW', 'LIGHT YELLOW', 'YELLOW', 'DARK YELLOW', 'AMBER', 'BROWN', 'RED'],
    'Transparency': ['CLEAR',  'HAZY', 'CLOUDY', 'MILKY', 'TURBID'],
    # Chemical
    'Nitrite': ['NEGATIVE', 'TRACE', 'POSITIVE'],
    'Protein': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    'Leukocytes': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    'Glucose': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    'Ketones': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    'Bilirubin': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    'Blood': ['NEGATIVE', 'TRACE', '1+', '2+', '3+', '4+'],
    # Microscopic
    'Bacteria': ['RARE', 'FEW', 'MODERATE', 'MANY', 'TNTC'],
    'Epithelial Cells': ['RARE', 'FEW', 'MODERATE', 'MANY', 'TNTC'],
    'RBC': ['0-2', ' 5-10', ' 10-20', '20-30', 'TNTC'],
    'WBC': ['0-2', ' 5-10', ' 10-20', '20-30', 'TNTC'],
    'Mucus Threads': ['RARE', 'FEW', 'MODERATE', 'MANY', 'TNTC'],
    'Amorphous Urate/Phosphate': ['RARE', 'FEW', 'MODERATE', 'MANY', 'TNTC'],

}

for col, mapping in binary_columns.items():
    df[col] = df[col].map(mapping)

for col, order in ordinal_mappings.items():
    df[col] = pd.Categorical(df[col], categories=order, ordered=True).codes

one_hot_cols = ['Marital Status']

df = pd.get_dummies(df, columns=one_hot_cols)

df['FEMALE'] = df['Sex'].apply(lambda x: True if x == 'FEMALE' else False)
df = df.drop(columns=['Sex'])


df['FILIPINO'] = df['Ethnicity'].apply(lambda x: True if x == 'FILIPINO' else False)
df = df.drop(columns=['Ethnicity'])

In [30]:
df.head(30)

,Patient Number,Age,Clarity,Color,Transparency,Spec Gravity,pH Level,Leukocytes,Nitrite,Protein,Glucose,Ketones,Urobilinogen,Bilirubin,Blood,Bacteria,Epithelial Cells,RBC,WBC,Mucus Threads,Amorphous Urate/Phosphate,DIAGNOSIS,Marital Status_MARRIED,Marital Status_SINGLE,Marital Status_WIDOW,FEMALE,FILIPINO
0,1,23.0,1,4,0,1.005,5.0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,False,True,False,True,True
1,2,44.0,0,4,2,1.020,6.0,0,0,0,0,0,1,0,3,1,3,3,0,3,0,0,True,False,False,True,True
2,3,22.0,0,5,1,1.025,6.0,0,0,2,3,1,1,0,0,2,2,0,0,1,1,0,False,True,False,True,True
3,4,16.0,0,5,1,1.020,5.0,0,0,0,0,0,1,0,0,1,1,0,0,2,0,0,False,True,False,True,True
4,5,18.0,0,3,1,1.005,6.5,0,0,0,0,0,1,0,0,1,2,0,0,1,0,0,False,True,False,False,True
5,6,38.0,0,3,1,1.010,7.0,0,0,0,0,0,1,0,4,2,2,4,4,2,2,1,True,False,False,True,True
6,7,32.0,0,4,1,1.020,5.0,0,0,0,0,0,1,0,0,1,2,0,0,1,0,0,True,False,False,False,True
7,8,38.0,0,4,4,1.015,5.0,4,0,0,0,0,1,0,3,3,3,3,4,3,3,1,True,False,False,True,True
8,9,37.0,0,4,4,1.030,5.0,1,0,1,0,0,1,0,3,3,3,3,1,2,2,1,True,False,False,True,True
9,10,11.0,0,4,1,1.010,6.5,1,1,0,0,0,1,0,0,2,3,0,1,1,1,1,False,True,False,True,True
10,11,52.0,0,4,1,1.005,6.5,0,0,0,0,0,1,0,0,0,1,0,0,2,0,0,True,False,False,True,True
11,12,22.0,0,4,2,1.025,6.5,0,0,0,0,0,1,0,0,1,2,0,0,2,0,0,False,True,False,True,True
12,13,51.0,0,4,1,1.020,6.0,0,0,0,0,0,1,0,0,1,2,0,0,1,0,0,True,False,False,True,True
13,14,35.0,0,4,1,1.030,7.0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,True,False,False,True,True
14,15,25.0,0,4,1,1.010,7.0,3,0,0,0,1,1,1,0,1,2,0,3,2,2,1,False,True,False,False,True
15,16,17.0,0,5,4,1.015,6.5,1,1,1,0,0,1,0,3,4,4,3,1,3,3,1,False,True,False,True,True
16,17,53.0,0,4,2,1.010,7.0,2,0,1,0,0,1,0,4,2,2,3,1,3,1,1,True,False,False,True,True
17,18,59.0,0,4,1,1.005,6.5,0,0,0,0,0,1,0,4,1,2,3,0,1,1,0,True,False,False,False,True
18,19,12.0,0,5,1,1.020,5.0,1,0,0,0,0,1,0,3,2,2,3,1,1,1,1,False,True,False,False,True
19,20,60.0,0,4,1,1.020,5.0,1,1,0,0,0,1,0,0,2,2,0,0,1,1,1,True,False,False,True,True
20,21,25.0,0,4,1,1.025,5.0,0,0,1,0,0,1,0,2,1,1,2,0,1,0,0,False,True,False,False,True
21,22,36.0,1,4,0,1.010,6.0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,True,False,False,False,True
22,23,41.0,0,4,2,1.025,6.0,2,2,1,0,0,1,0,0,3,3,0,1,1,3,1,True,False,False,True,True
23,24,35.0,0,3,1,1.005,6.0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,False,True,False,True,True
24,25,28.0,0,6,2,1.025,5.0,0,0,2,0,0,1,0,0,3,3,0,0,3,1,1,False,True,False,False,True
25,26,37.0,0,4,1,1.025,5.0,0,0,1,0,1,1,0,0,1,1,0,0,3,0,0,True,False,False,False,True
26,27,26.0,0,5,1,1.030,5.0,0,0,1,1,0,1,0,0,1,1,0,0,1,0,0,False,True,False,False,True
27,28,20.0,0,4,2,1.010,6.0,2,2,0,0,0,1,0,0,3,3,0,2,3,3,1,False,True,False,True,True
28,29,23.0,0,4,1,1.020,5.0,1,0,0,0,0,1,0,0,2,1,0,1,1,1,0,False,True,False,False,True
29,30,12.0,0,4,4,1.015,5.0,0,2,1,2,0,1,0,0,3,3,0,0,3,3,1,False,True,False,False,True

In [31]:
negative_ones = (df == -1)

# Displaying rows with -1 values
rows_with_negative_ones = df[negative_ones.any(axis=1)]
print(rows_with_negative_ones)

Empty DataFrame
Columns: [Patient Number, Age, Clarity, Color, Transparency, Spec Gravity, pH Level, Leukocytes, Nitrite, Protein, Glucose, Ketones, Urobilinogen, Bilirubin, Blood, Bacteria, Epithelial Cells, RBC, WBC, Mucus Threads, Amorphous Urate/Phosphate, DIAGNOSIS, Marital Status_MARRIED, Marital Status_SINGLE, Marital Status_WIDOW, FEMALE, FILIPINO]
Index: []

In [32]:
df.sample(5)

,Patient Number,Age,Clarity,Color,Transparency,Spec Gravity,pH Level,Leukocytes,Nitrite,Protein,Glucose,Ketones,Urobilinogen,Bilirubin,Blood,Bacteria,Epithelial Cells,RBC,WBC,Mucus Threads,Amorphous Urate/Phosphate,DIAGNOSIS,Marital Status_MARRIED,Marital Status_SINGLE,Marital Status_WIDOW,FEMALE,FILIPINO
185,186,1.0,0,4,1,1.030,6.0,0,0,2,0,4,1,0,0,1,2,0,0,2,1,0,False,True,False,True,True
397,398,14.0,0,6,2,1.020,6.5,0,0,2,0,4,1,2,0,2,3,0,0,3,3,0,False,True,False,False,True
195,196,36.0,0,5,4,1.030,6.0,3,2,1,0,4,1,0,4,3,3,4,4,3,3,1,True,False,False,True,True
205,206,18.0,1,3,0,1.005,6.0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,False,True,False,False,True
157,158,25.0,0,8,1,1.010,6.0,0,0,0,0,0,1,0,4,0,3,4,0,1,1,0,False,True,False,True,True

In [33]:
df.to_csv("encoded_dataset.csv")

In [34]:
null_rows = df[df.isnull().any(axis=1)]
print("Rows with null values:")
print(null_rows)

Rows with null values:
Empty DataFrame
Columns: [Patient Number, Age, Clarity, Color, Transparency, Spec Gravity, pH Level, Leukocytes, Nitrite, Protein, Glucose, Ketones, Urobilinogen, Bilirubin, Blood, Bacteria, Epithelial Cells, RBC, WBC, Mucus Threads, Amorphous Urate/Phosphate, DIAGNOSIS, Marital Status_MARRIED, Marital Status_SINGLE, Marital Status_WIDOW, FEMALE, FILIPINO]
Index: []